@model IEnumerable<W24_TP.Models.Subject>

@{
	ViewData["Title"] = "Index";
	List<string> uniqueCategories = Model
		.Select(sub => sub.FkCategoryNavigation?.Name ?? "DefaultCategoryName")
		.Distinct()
		.Order()
		.ToList();
}

<style>
	.active {
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,128,1) 100%);
	}

	.inactive {
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(220,20,60,1) 100%);
	}
</style>

<h1>All Topics</h1>

@foreach (var category in uniqueCategories)
{
	<p>
		<button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#subject-@category.Replace(" ","_")" data-subject-id="@category" aria-expanded="false" aria-controls="collapseExample" style="min-width:20%">
			@category
		</button>
	</p>
	<div class="collapse" id="subject-@category.Replace(" ","_")" data-subject-id="@category">
		@foreach (var sub in Model)
		{
			if (sub.FkCategoryNavigation?.Name == category)
			{
				<div class="card card-body @(sub.Active ? "active" : "inactive") " style="margin-bottom: 1rem;">
					<div class="d-flex flex-row justify-content-between">
						<h5 class="card-title" style="flex: 1;">@sub.Title</h5>
						<p class="card-title text-muted" style="flex: 1; text-align: center;">@sub.Date</p>
						<h5 class="card-title" style="flex: 1; text-align: end;">u/@sub.FkUserNavigation!.UserName</h5>
					</div>
					<hr />
					<div class="card-body">@Html.Raw(sub.Body)</div>
					<p class="text-muted">Views : @sub.View</p>
					<hr />
					<div class="d-flex flex-row justify-content-between">
						<a class="btn btn-outline-primary card-btn" asp-area="" asp-controller="Replies" asp-action="IndexPerSub" asp-route-id="@sub.Id">View all @sub.Replies.Count(r => r.Active) messages</a>
						<div>
							<a class="btn btn-outline-warning card-btn" asp-area="" asp-controller="Subjects" asp-action="Edit" asp-route-id="@sub.Id"><i class="fa-solid fa-pen"></i></a>
							<a class="btn btn-outline-danger card-btn" asp-area="" asp-controller="Subjects" asp-action="Delete" asp-route-id="@sub.Id"><i class="fa-solid fa-trash"></i></a>
						</div>
					</div>
				</div>
			}
		}
	</div>
}
